<% provide(:title, 'How to refresh my browser') %>

<h1>We think your Browser is <%=@browser.capitalize %> on <%=@platform %></h1>

<%=image_tag(@browser + ".png") %>

<p><%= to_html(@instruction.content).html_safe %></p>
