<% provide(:title, 'How to refresh my browser') %>

<div class="row panel">
    <div class="span6 offset3">
        <%=image_tag(@browser.downcase + ".png") %>
        <h1><%=@browser.capitalize %> on <%=@platform %></h1>
        <p>To clear the cache:</p>
        <p><%= to_html(@instruction.content).html_safe %></p>
    </div>
</div>
