<% provide(:title, 'How to refresh my browser') %>
<h1>My Browser</h1>
<p>your Browser is <%=@browser %> on <%=@platform %></p>
<p>Find me in app/views/index/index.html.erb</p>

<p><%= @instruction.content %></p>
